// 混合参数，处理差异或内容
@mixin flex($layout: center) {
  display: flex;
  justify-content: $layout;
  align-items: $layout;
  @content;
}

.nav {
  @include flex() {
    width: 100%;
    height: 50px;
  }
}

.header {
  width: 100%;
  @include flex(start);

  手机 {
    height: 50px;
  }

  平板 {
    height: 60px;
  }
}