// 混合处理响应式
@mixin responseTo($breakname) {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

.header {
  width: 100%;

  @include responseTo('phone') {
    height: 50px;
  }

  @include responseTo('pad') {
    height: 60px;
  }

}